@model IList<Caminhao>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar Caminhão</h1>

<mensagem texto="@TempData["mensagem"]"></mensagem>

<form asp-action="pesquisar" method="get" class="form-inline">
    <input placeholder="Digite a placa" name="termoPesquisa" type="text" class="form-control" />
    <input type="submit" value="Pesquisar" class="btn btn-success" />
</form>


<table class="table">
    <tr>
        <th>Placa</th>
        <th>Quantidade de Lixo(Litros)</th>
        <th></th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Placa</td>
            <td>@item.QuantidadeLixo</td>
            <td>
                <a asp-action="atualizar" class="btn btn-primary btn-sm"
                   asp-route-id="@item.CaminhaoId">Editar</a>
                <!-- Botão para acionar modal -->
                <button onclick="codigo.value = @item.CaminhaoId" class="btn btn-danger" type="button" data-toggle="modal" data-target="#modalExemplo">
                    Excluir
                </button>

                <a class="btn btn-primary"
                   asp-route-codigo="@item.CaminhaoId"
                   asp-action="detalhar">
                    Detalhes
                </a>

                <a asp-action="listar" asp-controller="rota"
                   asp-route-caminhaoBusca="@item.CaminhaoId"
                   class="btn btn-warning btn-sm">
                    Rotas
                </a>
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja Realmente Excluir?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input type="hidden" name="id" id="codigo" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>

